<div id="form-box">
    <h2 class="book-h2-form">Book Your Parking Spot</h2>
    <p>Secure parking at affordable rates. Fill in your details to book!</p>
    <form id="booking-form" action="/book" method="POST">

        <div class="row">
            <div class="form-group">
                <label for="arrival_date">Arrival Date: <span>*</span></label>
                <input type="date" id="arrival_date" name="arrival_date" required>
            </div>
            <div class="form-group">
                <label for="departure_date">Departure Date: <span>*</span></label>
                <input type="date" id="departure_date" name="departure_date" required>
            </div>
        </div>
        <div class="div-total-price">
            <p id="price-display">
                Total Price € 0
            </p>
            <p id="days-display">
                Total days reserved: 0
            </p>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="name">Name: <span>*</span></label>
                <input type="text" placeholder="Your Name and Surname" id="name" name="name" required>
                <p class="error-message" id="name-error"></p>
            </div>
            <div class="form-group">
                <label for="email">Email: <span>*</span></label>
                <input type="email" placeholder="Your Email" id="email" name="email" required>
                <p class="error-message" id="email-error"></p>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="arrival_time">Arrival Time: <span>*</span></label>
                <input type="time" placeholder="Arrival Time" id="arrival_time" name="arrival_time" required>
                <p class="error-message" id="arrival-error"></p>
            </div>
            <div class="form-group">

                <label for="departure_time">Departure Time: <span>*</span></label>
                <input type="time" id="departure_time" name="departure_time" required>
                <p class="error-message" id="departure-error"></p>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="car_brand">Car Brand: <span>*</span></label>
                <input type="text" placeholder="Car Brand" id="car_brand" name="car_brand" required>
                <p class="error-message" id="brand-error"></p>
            </div>
            <div class="form-group">

                <label for="car_color">Car Color :<span>*</span></label>
                <input type="text" placeholder="Car Color" id="car_color" name="car_color" required>
                <p class="error-message" id="color-error"></p>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="car_type">Car Type: <span>*</span><a href="https://www.flaticon.com/free-icons/question"
                    title="question icons"></a><img  id="question-mark"src="/assets/icons/question.png"></img>
                    <!-- <div id="question-mark"><a href="https://www.flaticon.com/free-icons/question"
                            title="question icons"></a><img src="/assets/icons/question.png"></img></div> -->
                </label>
                <input type="text" placeholder="Car Type" id="car_type" name="car_type" required>
                <p class="error-message" id="type-error"></p>
                <div id="question-div" class="hidden">This is for entering the type of car, e.g., Sedan, SUV, Sportscar,
                    Coupe.</div>
            </div>
            <div class="form-group">
                <label for="license_plate">License Plate Number: <span>*</span></label>
                <input type="text" placeholder="License Plate" id="license_plate" name="license_plate" required>
                <p style="font-size: 11px;">Make sure you write the correct license plate number</p>
                <!-- <p class="error-message" id="license-error"></p> -->
            </div>
        </div>

        <button type="submit" id="submit-btn" disabled>Submit</button>

    </form>
    <div id="confirmation-message" style="display: none;">

        <p id="confirmation-text"></p>
    </div>
</div>
<section id="faqs-box">
    <h4 class="title">Frequently Asked Questions</h4>
    <div class="paragraph">
        <p> We understand you might have questions about how parking works, bookings, or payments.
            In this section, you'll find the most frequently asked questions from our customers. <br><br>
            If you don’t find the answer you’re looking for, feel free to contact our <strong> <a href="#">customer
                    service</a></strong>.
            Our team is here to help!
        </p>
    </div>
    <div id="faqs-div">
        <!-- Category 1 -->
        <div class="faq-category">
            <h5 class="category-title">Category 1</h5>
            <div class="faq">
                <div class="question">
                    <h6>What is JavaScript?</h6>
                    <img src="/assets/icons/down-arrow.png" alt="Arrow Icon" class="arrow-icon">
                </div>
                <div class="answer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ullam saepe eum eos.</p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h6>How does JavaScript work?</h6>
                    <img src="/assets/icons/down-arrow.png" alt="Arrow Icon" class="arrow-icon">
                </div>
                <div class="answer">
                    <p>JavaScript is a programming language used for dynamic website behavior. It works on the client side.</p>
                </div>
            </div>
        </div>

        <!-- Category 2 -->
        <div class="faq-category">
            <h5 class="category-title">Category 2</h5>
            <div class="faq">
                <div class="question">
                    <h6>What is the difference between HTML and CSS?</h6>
                    <img src="/assets/icons/down-arrow.png" alt="Arrow Icon" class="arrow-icon">
                </div>
                <div class="answer">
                    <p>HTML provides the structure of the webpage, while CSS is used to style the content.</p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h6>How do you write a function in JavaScript?</h6>
                    <img src="/assets/icons/down-arrow.png" alt="Arrow Icon" class="arrow-icon">
                </div>
                <div class="answer">
                    <p>A function in JavaScript is written using the function keyword, followed by its name and parameters.</p>
                </div>
            </div>
        </div>
    </div>


</section>