<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parking Booking</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Monda:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">

<body>
  <header>
    <%- include('partials/header.ejs ') %>
  </header>
  <main>
    <%- include('main.ejs',{faqs}) %>
  </main>
  <footer>
    <%- include('partials/footer.ejs',{address1, address2, address3,phone, contact_email}) %>

  </footer>
  <script src="/script.js"></script>
</body>

</html>